{% extends "accounts/base.html" %} {% load crispy_forms_tags %}


{% block title %} eh? {% endblock %}
{%  load static %}



<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{%  block heading %} <h3>Dashboard:</h3> {% endblock %}
{% block content %}

    <h1>Your details:</h1>
    <p>These will be displayed to user upon a successful install.</p>
    <form method="post">
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                {{  user_details.name }}
            </td></tr>
        <tr>
            <td>
                Company:
            </td>
            <td>
                {{  user_details.company }}
            </td></tr>
        <tr>
        <td>
            Bio:
        </td>
        <td>
    {{  user_details.bio }}
    </td></tr>
    <tr><td>
        Website:
    </td><td>
        {{  user_details.website }}
    </td></tr>
    <tr><td>
        Email:
    </td><td>
        {{  user_details.email }}
    </td></tr>
    <tr><td>
        Avatar url:
    </td><td>
        {{  user_details.avatar_url }}
    </td></tr>
        <tr><td>
            Location:
        </td><td>
            {{  user_details.location }}
        </td></tr>
    </table>

    {%  csrf_token %}
        <input type="submit" class="btn btn-primary" value="Submit details">

    </form>


{% endblock %}
